		/*PAGE ONE*/
.landing{
	background-image: url("../assets/backgrounds/landing.jpg");

	height: 750px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.landpad{
	padding-top: 100px;
}

.tagline{
	margin-top: 30px;
	color: white;
	font-family: 
}

.breakfast{
	background-image: url("../assets/foodtop/breakfast.jpg");

	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dinner{
	background-image: url("../assets/foodtop/dinner.jpg");

	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.lunch{
	background-image: url("../assets/foodtop/lunch.jpg");
	
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
}

.display{
	text-align: center;
	color: white;
	height: 220px;
	font-style: italic;
}

.grey{
	background-color: #D2CFCE;
	color: #000000;
	width: 100%;
}
.orange{
	background-color: #F0590D;
}

.opshon section{
	margin: 0;
}

.logo{
	margin-top: 150px;
}





		/*PAGE TWO*/

.pageTwo{
	margin-top: 20px;
}

.box{
	box-shadow: 10px #E8E8E6;
}


.imange{
	margin: 0px 0px 0px 0px;
}

		/*PAGE THREE*/
.right{
	text-align: right;
}

.space{
	margin-bottom: 10px;
}

.kempinski{
	background-image: url("../assets/backgrounds/foodsBg.jpg");
	height: 600px;
}
#menyu{
	background-color: #D4CFCF;
	padding: 40px;
}
