		/*BACKGROUND IMAGES*/
.landing , .breakfast,.lunch,.dinner,.subscribe{
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*POP UP MENU*/
.burger{
	position:relative;
	display: none;
	background-color: #F15A29;
	text-align: center;
}

		/*PAGE ONE*/
strong{
	font-family: monospace;
}

#cover{
	position: relative;
	float: left;
	margin-left: 80px;
	margin-top: 60px;
}

#cover img:hover{
	/*pop up the full page*/

}

.logo img:hover{
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	transform:rotate(360deg);
	transition: 2s ease ;
}


.landing{
	background-image: url("../assets/backgrounds/landing.jpg");
	background-attachment: fixed;
	height: 750px;
}

.landpad{
	padding-top: 100px;
}

.tagline{
	margin-top: 30px;
	color: white;
	font-family: 
}

.breakfast{
	background-image: url("../assets/foodtop/breakfast.jpg");
}

.dinner{
	background-image: url("../assets/foodtop/dinner.jpg");
}

.lunch{
	background-image: url("../assets/foodtop/lunch.jpg");
	opacity: 0.6;
}

.lunch:hover{
	opacity: 1;
	color: white;
	transition: .5s;
}

.breakfast,.lunch,.dinner{
	padding-top: 80px;
	font-style: italic;
}

.breakfast:hover, .dinner:hover{
	opacity: .6;
	color:black ;transition: .5s;
}

.display {
	text-align: center;
	color: white;
	height: 250px;
}

.grey{
	background-color: #D2CFCE;
	color: #000000;
}
.orange{
	background-color: #F15A29;
}

.grey,.orange{
	height: 125px;
	padding-top: 50px;
	font-size: 16px;
}


.opshon{
	margin: 0px;
	padding:0;

}

.logo{
	margin-top: 150px;
}





		/*PAGE TWO*/

.btnGala{
	border-radius: 3px;
	border-color:#DC7633;
	color: #F15A29;
	padding: 20px;
	font-size: 16px;
	background-color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.btnGala:hover{
	color: white;
	background-color:#F15A29;
	transition: .6s ease; 
}


.pageTwo{
	margin-top: 20px;
	overflow: hidden;
	clear: both;
	margin-bottom: 20px;
	padding:10px;
}

.pageTwo h2{
	color: #F15A29;
}

.box{
	box-shadow: 10px #E8E8E6;
	margin: 0;
	height: 96%;
}

.baga{
	height: 100%;
	width: 100%;
}

.space{
	margin-top: 5px;
}


.imange{
	float: left;
}


img#imange,.imange{
	width: 50%;
}

div.right h2 , {
	text-align: center;
	font-weight: bold;
}

button img{
	height: 20px;
	width: 20px;
}






		/*PAGE THREE*/


.box ,.vertix{
	box-shadow: 2px 2px 2px 2px grey;
	padding-bottom: 15px;
	padding-top: 15px;
}

.vertix{
}




.space{
	margin-bottom: 10px;
}

.kempinski{
	background-image: url("../assets/backgrounds/foodsBg.jpg");
	background-attachment: fixed;
	height: auto;
	overflow: hidden;
	clear: both;
	opacity: .9;
}

.shot{
	clear: both;
	overflow: hidden;
	padding-top: 130px;
	padding-bottom: 130px;

}

#menyu{
	background-color: white;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 40px;
}


#lonely{
	color: #535252;
	background-color:#CACFD2;
	border-right: #F0F3F4 outset;
}

#lonely:hover{
	opacity: 0.5;
	color: #F15A29;
}



#selected{
	background-color: white;
	color: #F15A29;
}

#selected:hover{
	color: #F15A29;
	background-color:#E1E1E1;
	border-right: #F0F3F4 outset;
}


#lonely ,  #selected{
	padding : 22px;
	font-weight: bold;
}


span{
	color:#F15A29; 
	font-weight:bold;
}


/*PAGE FOUR*/

.png{
	padding-top: 50px;
	padding-bottom: 50px;
}
.foo{
	box-shadow: 0.2px 2px 2px 2px grey;
	height: auto;
	padding : 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.customers{
	text-align: center;
}

.shaded{
	border-left: 
	border-left: 2px grey;
}

.muya{
	border-right: #F0F3F4 outset;
	padding-top: 20px;
}

.abt{
	padding-top: 20px;
	text-align: center;
}

#mteja{
	padding-left: 10px;
	padding-right: 15px; 
}






/*PAGE FIVE*/
.subscribe{
	background-image: url("../assets/backgrounds/subscribe.jpg");
	height: 550px;
	color: white;
	padding-top: 180px;
	clear: both;
}

.subscribeChimp{
	background-color:#F15A29 ;
	color: white;
	border-radius: 3.9px;
	font-size: 16px;
	text-align: center;
	padding:15px;
	width: 75%;
}

.subscribeChimp:hover{
	color:#F15A29;
	background-color: white;
	transition: .5s;
}

#mce-EMAIL{
	color: black;
	font-size: 16px;
	text-align: center;
	padding:15px;
	width: 75%;
	border-radius: 3.9px;
	background-color: transparent;
}


#mce-EMAIL:hover{
	background-color: white;
	transition: .5s ease;
	border-color: #F15A29;
	border-style: double;
}




/*FOOTER PAGE*/

ul li{
	display: inline;
	margin: 10px;
}


#top li img{
	float: left;
	text-align: center;
	position: absolute;
	margin-left: -104px;
}

#socialMedia{
	list-style: none;
	margin-left: -3%;

}

#mySpace{
	padding-left: 30px;
}




.footer{
	/*background-image: -webkit-linear-gradient(top,#EB984E,#F15A29);
	background-image: -o-linear-gradient(top,#EB984E,#F15A29);
	background-image: -moz-linear-gradient(top,#EB984E,#F15A29);
	background-image: -ms-linear-gradient(top,#EB984E,#F15A29);*/
	background-color: #F15A29;
	color: white;
	padding-top: 40px;
	padding-bottom: 30px;
}

.footer img{
	margin-top: 40px;
}

.footer p{
	padding-top: 10px;
	margin-top: 20px;
}



/*EXTRAS*/
h2,#lonely,#selected,span,button{
	font-family: monospace;
	font-weight: bold;
}

p ,h3{
	/*font-family: 'Indie Flower', cursive;*/
	/*font-family: 'Berkshire Swash', cursive;*/
	font-family: 'Handlee', cursive;
	font-size: 18px;
}